<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697046926312-j77edpruk6h1mi0k9hj1j7cgc5aao2oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697046926312-j77edpruk6h1mi0k9hj1j7cgc5aao2oa</string>
	<key>API_KEY</key>
	<string>AIzaSyDJEJokyGTmrtYB5BODVNHTZlDoshr1OzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>697046926312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GhazaMarkeet.ios.ChatSDKIntegrationTesting</string>
	<key>PROJECT_ID</key>
	<string>chatsdkexample-3b3da</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsdkexample-3b3da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697046926312:ios:f08600d9f82c2a70e41a5d</string>
</dict>
</plist>